body {
    font-family: Arial, sans-serif;
    background-color: #fd0303;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-weight: bold;
    margin-top: 20px;
}

button {
    padding: 10px 15px;
    background-color: rgb(255, 0, 0);
    color: rgba(0, 0, 0, 0.942);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #7f53d7;
}

#resp {
    margin-top: 20px;
    font-weight: bold;
    color: #7c5050;
}

h2 {
    margin-top: 20px;
    color: #333;
    font-size: 1.5em;