body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    background-color: #121212;
    color: white;
    font-family: 'Arial', sans-serif;
    padding-top: 40px;
}

.player-container {
    text-align: center;
    background-color: #282828;
    padding: 60px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    width: 400px;
}

.musica-nome {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.play-btn {
    background-color: #1DB954;
    color: white;
    border: none;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.play-btn:hover {
    background-color: #17a04a;
}

.playlist-container {
    margin-top: 20px;
}

.musica-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
}

.musica-imagem {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    margin-right: 15px;
    border: 2px solid #1DB954;
}

.musica-info {
    flex: 1;
    text-align: left;
}

.musica-atributos {
    font-size: 14px;
    color: #ccc;
}

.separator {
    height: 1px;
    background-color: #555;
    margin: 10px 0;
}